ul {
    list-style-type: none;
    display: flex;
    flex-flow: wrap;
    align-items: center;
    justify-content: center;
    width: 80%;
    margin: 0;
    padding: 0;
}

li {
    margin: 0.2em 1em;
    display: inherit;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
