ul {
    list-style-type: none;
    display: inherit;
    align-items: inherit;
    justify-content: inherit;
    width: 80%;
}

li {
    margin: 0.2em 1em;
    display: inherit;
    flex-direction: column;
    align-items: inherit;
    justify-content: inherit;
}
