.star {
    background-color: silver;
    width: 1em;
    height: 1em;
    clip-path: polygon(50% 0, 65% 35%, 100% 40%, 70% 60%, 80% 100%,
                        50% 70%, 20% 100%, 30% 60%, 0 40%, 35% 35%);
}

.selected {
    background-color: gold;
}

.highlighted {
    background-color: orange;
}
