.App {
    text-align: center;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

header, footer, main {
    width: 100%;
    display: inherit;
    flex-direction: inherit;
    align-items: inherit;
    justify-content: inherit;
}

header, footer {
    background-color: #282c34;
    color: white;
}

main {
    flex: 1;
    justify-content: flex-start;
}

header {
    min-height: 20vh;
    font-size: 1.4em;
}

footer {
    min-height: 5vh;
}

.App-link {
    color: #61dafb;
}
