.App {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

header, footer, main {
    width: 100%;
    display: inherit;
    flex-direction: inherit;
    align-items: inherit;
    justify-content: inherit;
}

header, footer {
    background-color: #282c34;
    color: white;
}

header {
    min-height: 25vh;
    font-size: 1.4em;
}

footer {
    min-height: 10vh;
    position: absolute;
    bottom: 0;
}

.App-link {
    color: #61dafb;
}
